# macOS
.DS_Store

# Python cache/build
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Local artifacts
storage/*
!storage/.gitkeep

# project trash
/trash/delete/

.env